%no-copy {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  pointer-events: none !important;
}

// Extend as you need and want!

// only elements with the class no-copy...
.no-copy {
  @extend %no-copy;
}

// ... or ALL elements
html {
  @extend %no-copy;
}
